jax==0.2.26
jaxlib==0.1.75+cuda11.cudnn82
flax==0.3.6
torch==1.10.1
torchaudio==0.10.1
torchvision==0.11.2
jupytext==1.13.4
matplotlib==3.5.1
black
flake8
google-cloud-storage
ipython
isort
pre-commit
torchfsdd
tensorflow
tqdm
seaborn
celluloid
wandb
