name: checks.yaml

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: [3.8]
        steps:
        - uses: actions/checkout@v2
        - name: Set up Python ${{ matrix.python-version }}
          uses: actions/setup-python@v2
          with:
            python-version: ${{ matrix.python-version }}
        - name: Install depencies
          run: |
            python -m pip install --upgrade pip
            pip install black
            pip install flake8
            pip install isort
        - name: Lint & check for errors w/ black & flake8
            # Error out if any errors...
            make check
